<!DOCTYPE html>

<html ng-app="demoAngularJS">

  <head>
    <link rel="stylesheet" href="lib/styles.css" />
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
    <script type="text/javascript" src="lib/app.js"></script>
    <script type="text/javascript" src="lib/services/servicioAlumnos.js"></script>
    <script type="text/javascript" src="lib/services/servicioAsignaturas.js"></script>
    <script type="text/javascript" src="lib/controllers/ControladorAlumnos.js"></script>
    <script type="text/javascript" src="lib/controllers/MainControlador.js"></script>
  </head>

  <body>
    <div ng-controller="MainControlador">
      <h1>Demo AngularJS</h1>
      <button ng-click="navegarAAlumnos()">Alumnos</button>
      <button ng-click="navegarAAsignaturas()">Asignaturas</button>
    </div>
    <div ng-view></div>
  </body>
</html>